<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.devddk.hackernewsclient">

    <!-- TODO: check if 'android:allowBackup' is worth changing -->
    <application
        android:name="it.devddk.hackernewsclient.HNReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name="it.devddk.hackernewsclient.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPattern="/item"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="it.devddk.hackernewsclient.activities.ArticleActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name="it.devddk.hackernewsclient.widget.HNAppWidgetReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/default_widget_info" />
        </receiver>

    </application>

</manifest>
